html
{
	background: #7F7F7F url("../images/temp2.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 725.8000000000001px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -9px;
	margin-bottom: -184px;
}

#pu1252-3
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u1252-3
{
	z-index: 3;
	width: 1224px;
	min-height: 164px;
	margin-right: -10000px;
}

#u1230
{
	z-index: 6;
	width: 438px;
	margin-right: -10000px;
	left: 126px;
}

#u1230_img
{
	padding-right: 1px;
}

#u1193-18
{
	z-index: 11;
	width: 429px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 136px;
	left: 720px;
}

#u1450
{
	z-index: 29;
	width: 38px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 1014px;
}

#u1465
{
	z-index: 31;
	width: 40px;
	margin-right: -10000px;
	margin-top: 88px;
	left: 824px;
}

#u1475
{
	z-index: 33;
	width: 38px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 1060px;
}

#u1450_img,#u1475_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u1681
{
	z-index: 42;
	width: 38px;
	margin-right: -10000px;
	margin-top: 88px;
	left: 921px;
}

#u1715
{
	z-index: 44;
	width: 38px;
	margin-right: -10000px;
	margin-top: 88px;
	left: 968px;
}

#u2080-6
{
	z-index: 46;
	width: 513px;
	min-height: 88px;
	margin-right: -10000px;
	left: 589px;
}

#u2084
{
	z-index: 52;
	width: 45px;
	margin-right: -10000px;
	margin-top: 85px;
	left: 871px;
}

#pu1253-3
{
	width: 0.01px;
	left: -143px;
	margin-top: 42px;
	position: relative;
}

#u1253-3
{
	z-index: 8;
	width: 81px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u1625
{
	z-index: 54;
	width: 295px;
	height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#u469-11
{
	z-index: 55;
	width: 353px;
	min-height: 192px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 522px;
}

#u693
{
	z-index: 66;
	width: 212px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 549px;
}

#pu1662
{
	width: 0.01px;
	left: -100px;
	margin-top: 375px;
	position: relative;
}

#u1662
{
	z-index: 2;
	width: 1224px;
	height: 80px;
	margin-right: -10000px;
}

#u1663-6
{
	z-index: 35;
	width: 1224px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 15px;
}

#u1668
{
	z-index: 41;
	width: 200px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 577px;
}

body
{
	padding-top: 36px;
	padding-bottom: 104px;
}

