#u1252-3
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u1193-15
{
	font-size: 22px;
	text-align: left;
	line-height: 0.84;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1193-16
{
	font-size: 40px;
	text-align: center;
	line-height: 1.24;
}

#u2080-6
{
	text-align: right;
	font-size: 12px;
	position: relative;
}

#u2080-4
{
	font-style: italic;
}

#u1230,#u1193-18,#u1450,#u1465,#u1475,#u1681,#u1715,#u2084,#u1253-3
{
	position: relative;
}

#u1662
{
	border-style: none;
	border-color: transparent;
	background-color: #36A8B3;
	position: relative;
}

#u1663-6
{
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	position: relative;
}

#u1663-2
{
	font-size: 18px;
	font-weight: bold;
}

#u1668
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

